<p id="notice"><%= notice %></p>

<p>
  <strong>Super admin:</strong>
  <%= @dumpster.super_admin %>
</p>

<p>
  <strong>Administrator:</strong>
  <%= @dumpster.administrator %>
</p>

<%= link_to 'Edit', edit_dumpster_path(@dumpster) %> |
<%= link_to 'Back', dumpsters_path %>
