<div class="hola col-lg-0">
    <div>
        <textarea class="textarea" placeholder="Type here what is bothering you..."></textarea>
        <a href="/posts/new">
        <button type="submit" class="btn btn btn-primary" >Post</button></a>
    </div>
</div>
<% @posts.each do |post| %>

<div class="hola col-lg-0">
	<div>
        <a href=<%= "/profiles/#{post.user_id}"%>> <p class="usernamepost"><%=@users.find { |user| user.id == post.user_id}.name%> 
        </p></a>

		
	</div>
	<div><button type="submit" class="btn btn btn-primary" >follow</button></div>
  <div class="span6">
    <div class="row">
      <div class="span6 col-lg-3">
        <h4><strong><a href="#"><%=post.title%></a></strong></h4>
      </div>
    </div>
    <div class="row">
      <div class="span2 col-lg-4">
        <a href="#" class="thumbnail">
            <img src="http://placehold.it/260x180" alt="">
        </a>
      </div>
      <div class="spanisi col-lg-7">      
        <p>
          <%=post.body%>
        </p>
      </div>
    </div>
    <div class="row col-lg-5">
      <div class="span6 col-lg-9">
        <p></p>
        <p>
           <i class="icon-calendar"></i> <%=post.created_at.to_formatted_s(:long)%>
          | <i class="icon-comment"></i> <a href="#">3 Comments</a>
          | <i class="icon-share"></i> <a href="#">39 likes</a>
          | <i class="icon-share"></i> <a href="#">comment</a>
          | <i class="icon-share"></i> <a href="#">report</a>
          
        </p>
      </div>
    </div>
  </div>
</div>



<%end%>


<div class="otro"><p>&nbsp;</p></div>
