<div class="container">
	<h1>Manage Users</h1>
	<% if current_user.super == true %>
<a class="btn btn-secondary btn-xl col-12"  onclick="location.href='/sadmin_panel'">BACK</a>
<br>
	<% elsif current_user.admin == true && (current_user.super == false)%>
<a class="btn btn-secondary btn-xl col-12"  onclick="location.href='/admin_panel'">BACK</a>
<br>
	<% end %>

	<% User.all.each do |user| %>

</br>
	<div class="card">
		  <div class="card-header">
		     <%= link_to user.username, user %> (blacklist:<%= user.blacklist %>), 
		  </div>
		  <div class="card-body">
		    <h5 class="card-title"><%= user.email %></h5>
		    <p class="card-text">Choose wisely.</p>
		    <% if current_user.super ==true %>
		        <div class="btn-group  pull-right">
		        	<% if user.admin == false %>
			       <a class="btn btn-primary btn-lg"  onclick="/manage_users">Make Admin</a>
			        <% else %>
			    	<a class="btn btn-info btn-lg" onclick="/manage_users">Remove Admin</a>
			    	<% end %>
			        <%= link_to 'Delete User', user, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-lg"%>
			         <% if user.blacklist == false %>
			        <%= link_to "Move to Blacklist", user_blacklisted_path(user), method: :put, class: "btn btn-dark btn-lg"%>
			       <% else %>
			        <%= link_to "Recover from Blacklist", user_blacklisted_path(user), method: :put, class: "btn btn-warning btn-lg"%>		       
			       <% end %>
							<%# <%= #link_to "blacklist", user_blacklisted_path(user), method: :put, class: "like-btn"%> 
    				
    			</div>
    		<% elsif (current_user.super == false) && (current_user.admin == true) %>
    			<div class="btn-group  pull-right">
    				<%= link_to 'Delete User', user, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-lg"%>
			    	<a class="btn btn-info btn-lg"  onclick="location.href='/users'">Edit User</a>
			        <a href="#" class="btn btn-primary btn-lg">Block User</a>
			        <% if user.blacklist == false %>
			        <%= link_to "Move to Blacklist", user_blacklisted_path(user), method: :put, class: "btn btn-dark btn-lg"%>
			       <% else %>
			        <%= link_to "Recover from Blacklist", user_blacklisted_path(user), method: :put, class: "btn btn-warning btn-lg"%>		       
			       <% end %>

							<%# <%= #link_to "blacklist", user_blacklisted_path(user), method: :put, class: "like-btn"%> 
    				
    			</div>
    		<% end %>
		  </div>
	</div>
</br>
    <% end %>
</div>
 </br></br>  	
