<div class="container">
	<h1>Manage Posts</h1>
	<% if current_user.super == true %>
<a class="btn btn-secondary btn-xl col-12"  onclick="location.href='/sadmin_panel'">BACK</a>
<br>
	<% elsif current_user.admin == true && (current_user.super == false)%>
<a class="btn btn-secondary btn-xl col-12"  onclick="location.href='/admin_panel'">BACK</a>
<br>
	<% end %>
	<% Post.all.each do |post| %>

</br>
	<div class="card">
		  <div class="card-header">
		     <%= post.title %> by <%= post.user.username %> dumpster? <%=post.dumpster%>
		     <%= post.title %> by <%= link_to post.user.username, post.user %> 
		  </div>
		  <div class="card-body">
		    <h5 class="card-title">
		    	<% if post.body == "" %>
		    		This post has no body.
		    	<% else %>
		    	<%= post.body %>
		    	<% end %>
		    	</h5>
		    <p class="card-text">Choose wisely.</p>
		        <div class="btn-group  pull-right">
			       <!-- <a class="btn btn-primary btn-lg"  onclick="/manage_users">Delete Post</a> -->
			        <%= link_to 'Delete Post', post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary btn-lg" %>
			        <!-- <button href="/manage_users" class="btn btn-dark  btn-lg" onclick="/manage_users">Algo
			        </button> -->
					<%= link_to "Move to Dumpster", dumpster_post_path(post), method: :put, class: "btn btn-danger btn-lg"%>
    			</div>
		  </div>
	</div>
    <% end %>   
    <hr>
    <hr>    	
</div>
