<div class="container">
	<h1>Manage Users</h1>
<a class="btn btn-secondary btn-xl col-12"  onclick="location.href='/sadmin_panel'">BACK</a>
<br>

	<% User.all.each do |user| %>


	<div class="card">
		  <div class="card-header">
<<<<<<< HEAD
		     <%= user.username %> (blacklist:<%= user.blacklist %>),
=======
		     <%= link_to user.username, user %> (blacklist:<%= user.blacklist %>), 
>>>>>>> caff2fa101e4fb41dd321c15315b52aa5de40277
		  </div>
		  <div class="card-body">
		    <h5 class="card-title"><%= user.email %></h5>
		    <p class="card-text">Choose wisely.</p>
		        <div class="btn-group  pull-right">
		        	<% if user.admin == false %>
			       <a class="btn btn-primary btn-lg"  onclick="/manage_users">Make Admin</a>
			        <% else %>
			    	<a class="btn btn-info btn-lg" onclick="/manage_users">Remove Admin</a>
			    	<% end %>
			        <a href="#" class="btn btn-danger btn-lg">Block User</a>
							<%# <%= #link_to "blacklist", user_blacklisted_path(user), method: :put, class: "like-btn"%> 
    			</div>
		  </div>
	</div>
<<<<<<< HEAD
    <% end %>
</div>
=======
    <% end %>    
    <hr>
    <hr>   	
</div>
>>>>>>> caff2fa101e4fb41dd321c15315b52aa5de40277
