<div class="container">
	<h1>Edit your Profile</h1>


	<%= form_for(@user, html: {multipart: true}) do |f| %>

	<%= f.label :username %> <br>
	<%= f.text_field :username%><br>
	<%= f.label :bio %><br>
	<%= f.text_field :bio %><br>
	<%= avatar_for(@user) %> <br>
	<%= f.label "Choose your profile picture" %><br>	
	<%= f.file_field :avatar %>
	<br>
	<%= f.submit "Save changes"%>
	<% end %>
	<p> The location is pending </p>
</div>