<div class="container">
<h1>all the users are here</h1>

<!-- <table>
  <thead>
    <tr>
      <th>Username</th>
      <th>E-mail</th>
      <th>Last sign in</th>
      <th>Admin?</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody> -->

    <% @users.each do |user| %>

      </br>
        <div class="card">
            <div class="card-header">
               User: <%= link_to user.username, user %>
            </div>
            <div class="card-body">
              <h5 class="card-title">
                E-mail: <%= user.email %>. <br>Admin: <%= user.admin %>
                </h5>
              <p class="card-text">las signed in: <%= user.last_sign_in_at %></p>
                  <div class="btn-group  pull-right">
                   <a class="btn btn-primary btn-lg" href="<%= edit_user_path(user.id)%>" >Edit User</a>
                </div>
            </div>
        </div>
<% end %>    
<hr>   
<hr> 
</div>