<p id="notice"><%= notice %></p>

<p>
  <strong>Mail:</strong>
  <%= @user.mail %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>Blacklist:</strong>
  <%= @user.blacklist %>
</p>

<p>
  <strong>Super admin:</strong>
  <%= @user.super_admin %>
</p>

<p>
  <strong>Administrator:</strong>
  <%= @user.administrator %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
